.btn-custom {
    filter: drop-shadow(0.3em 0.3em #556287);
    font-weight: 600;
}


// Fonts
.inter {
    font-family: "Inter", sans-serif !important;
}

.signika {
    font-family: "Signika Negative", sans-serif !important;
}
